<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Active HR, <%= @user.name %></h1>

<p>
  One of your subordinate has filled a form. It's time to share your views!
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>