<h1>ReviewForm#index</h1>
<p>Find me in app/views/review_form/index.html.erb</p>

<table class="table table-striped table-hover">
  <thead class="thead-dark ">
  <tr>

    <th>Remarks</th>
    <th>Submitted By</th>

  </tr>
  </thead>
  <tbody>
  <% @rf.each do |q| %>
    <tr>




      <td><%= q.remarks %></td>
      <td><%= q.submittedBy %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Back',  new_review_form_path, class:"nav-link" %>